section {
  width: 80%;
}
h1 {
  color: orange;
  font-style: italic;
  font-size: 40px;
  text-shadow: 2px 2px 4px black;
}
header h2 {
  padding-left: 6%;
}
img {
  float: left;
}
.big::first-letter {
  font-size: 250%;
}
span {
  font-weight: bold;
}
a:link {
  color: orange;
}
a:visited {
  color: black;
}
a:hover {
  color: green;
}

footer {
  text-align: center;
}
