body {
  width: 80%;
}
img {
  padding-right: 20px;
}
h1 {
  color: orange;
  font-style: italic;
  font-size: 40px;
  text-shadow: 2px 2px 4px black;
}
header h2 {
  padding-left: 12%;
  font-style: italic;
}
img {
  float: left;
}

span {
  font-weight: bold;
  font-style: italic;
}
a:link {
  color: brown;
}
a:visited {
  color: black;
}
a:hover {
  color: green;
}

footer {
  text-align: right;
}

#big {
  font-size: 35px;
}
#guest {
  height: 250px;
}

/* CSS reset selector */
* {
  margin: 0%;
  padding: 0%;
}
